services:
  db:
    image: postgres:16
    container_name: movie_db_container
    environment:
      POSTGRES_DB: moviedb
      POSTGRES_USER: movieuser
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: movie_app_container
    environment:
      DATABASE_URL: postgresql://movieuser:pass@db:5432/moviedb
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - .:/app

volumes:
  pgdata: